<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!-- PRODUÇÃO -->
  <connectionStrings>
	<add name="default" connectionString="Password=YD9Qw4GlU3iAdFI;Persist Security Info=True;User ID=tgmuserdb2;Initial Catalog=gozapp;Data Source=P7344754" />
  </connectionStrings>	
  <appSettings>
	<add key="AzureTempFolderPath" value="D:\VHOSTS\gozapp.com\httpdocs\AzureTempFolder" />
	<add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=gozapp;AccountKey=ZdUyfqCIEDY+2Ss4ooc/IyMaWTbkWWvHcRjjFdRHr/CuSKcjUbu90tZMjwCx6Yspe3Wbujy4L3Rmn87lVoQDgg==" />
	<add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!-- DESENVOLVIMENTO -->
  <!--<connectionStrings>
	<add name="default" connectionString="SERVER=NOTE-RAPHAEL\MSSQLSERVER01;DATABASE=gozapp;UID=sa;PWD=Chumbo138prata;" />
  </connectionStrings>
  <appSettings>
    <add key="AzureTempFolderPath" value="C:\TGM\Zapp\2024.1.01\Release 2024\Zapp\AzureTempFolder" />
    <add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=developmentandstaging;AccountKey=/rJUgQeW4L+5ClpZ7UBDw1QvMO9Va0s8YUCswceDpD5urvfyMyPTYc/eXzkoz/wPVem0YIrgyvXQpjZPe/w4iw==" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Storage.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.2.3.0" newVersion="11.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Storage.Blob" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.2.3.0" newVersion="11.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>